 *{ 
    margin:0;
    padding:0;
}
#bg1{
    background-image: url(./abt_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    
}

#nav{
    background:rgba(0,0,0,0.2);
    height:100px;
    width:100vw;
    position: fixed;
}
#logo{
    position:fixed;
    top:10px;
    left:50px;
    height: 80px;
    width:120px;
}

#btn{

    position: fixed;
    display: flex;
    flex-direction: row;
    top:10px;
    right:100px;
}
a{
    text-decoration: none;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 25px;
    color:white;
}

h1{
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 190px;
    margin-left: 100px;
} 
#strbry{
    width:50%;
}
#msg{
    position: fixed;
    right:50px;
    bottom: 5px;
    color:red;
}
#snd{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 20px;
}
#div1{
    margin-left: 150px;
}
#div11{
    margin-left: 100px;
    line-height: 1.6;
    width:40%;
}
#pg{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
}
#pg2{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.kb1{
    margin-left: 100px;
    line-height: 1.6;
    font-size: 20px;
    width:70%;
    
}
.kb2{
    margin-left: 100px;
    line-height: 1.6;
    font-size: 20px;
    width:70%;
}
#kntbt{
    margin-right: 100px;
}
#pg4{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
#burger{
    margin-left: 100px;
}
#brgpara{
    margin-left: 100px;
    line-height: 1.6;
    font-size: 20px;
    width:70%;
    margin-top: 150px;
}
#lstpg{
    display: flex;
    flex-direction: row;
}
h1{
    color:black;
}
.loc1{
    font-size: 30px;
    letter-spacing: 1px;
    margin-left: 100px;
}
.loc2{
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 50px;
}
#socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#foot{
    margin-left: 200px;
    margin-top: 100px;
}
.sm{
    margin-left: 50px;
    margin-top: 30px;
}
#sm1{
    margin-left: 120px;
    margin-top: 30px;
}
#cpy{
    background-color: palevioletred;
    color:white;
    text-align: center;
    height:40px;
    padding-top: 20px;
}